*{
        margin:0px;
        padding:0px;
        font-family: Arial, Helvetica, sans-serif;
    }
    ::-webkit-scrollbar{
        width: 0px;
        height: 0px;
    }
    img{
        width:99.9vw;
    }
    a{
        color: aliceblue;
        display: block;
        background-color: rgba(139, 0, 0, 0.87);
        padding:15px;
        text-align: center;
        font-weight: bolder;
        text-decoration: none;
    }
    a:hover{
        background-color: rgba(255, 5, 5, 0.788);
    }